/* Root for background color */
:root {
  --container-color: antiquewhite;
  --font-color: #0c0c0c;
  --border-between-links: #5c5470;
  --hover-text-color: #1d24ca;
}

/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* header container */
.container-header {
  width: 100%;
  padding-top: 2rem;
  border-bottom: 5px groove grey;
  background-color: var(--container-color);
  display: inline-flex;
  justify-content: space-between;
}

/* title */
.title {
  text-decoration: none;
  text-align: left;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: var(--font-color);
  text-decoration: none;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Hub - jump animation */
.jump {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.title:hover .jump {
  animation: jumpAnimation 0.5s ease infinite;
}

@keyframes jumpAnimation {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Sign up and login buttons - container */
.button-container {
  display: flex;
  flex-wrap: wrap;
}

/* Sign up and login buttons */
.sign-up-button,
.login-button,
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background-color: #eb8b54;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 5px;
}

/* Sign up and login buttons - hover with mouse cursor */
.sign-up-button:hover,
.login-button:hover,
.search-button:hover {
  border-bottom-width: 0;
  transform: translateY(2px);
}

/* Search container, search button and input field */
.search-container {
  display: flex;
  flex-wrap: wrap;
}

/* Input field - search */
.input-field {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  align-self: flex-end;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #000000 inset;
}

/* Welcome container */
.container-welcome {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Welcome container - text */
.text {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: var(--font-color);
}

/* Top topic - text */
.top-topic-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
  color: var(--font-color);
}

/* Top topics, container */
.container-top-topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}

/* Top topics, card */
.card {
  height: 100%;
  width: auto;
  margin-bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.topic-image {
  height: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Top topics, buttons */
.btn {
  background-color: var(--container-color);
  color: var(--font-color);
  border: 2px ridge var(--font-color);
  transition: all 0.2s ease;
}

/* Top topics, buttons */
.btn:hover {
  background-color: var(--container-color);
  color: var(--font-color);
  border: 1px ridge var(--font-color);
}

/* Container Body */
.containers-body {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

/* Disscusions container */
.container-disscusions {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem;
  padding: 0 1.5rem;
  background-color: var(--container-color);
  place-self: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Main links */
.main-links {
  padding: 2rem 0;
  color: var(--font-color);
  border-bottom: 1px solid var(--border-between-links);
  font-size: 1.2rem;
  font-weight: bold;
}

.main-links:last-of-type {
  border-bottom: 0;
}

.main-links:hover {
  color: var(--hover-text-color);
}

/* Topics container */
.container-topics {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem;
  padding: 0 1rem;
  background-color: var(--container-color);
  place-self: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Topics container - links */
.topics-links {
  padding: 2rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--font-color);
  border-bottom: 1px solid var(--border-between-links);
}

.topics-links:last-of-type {
  border-bottom: 0;
}

.topics-links:hover {
  color: var(--hover-text-color);
}

/* Footer section */
.container-footer {
  margin-top: 20rem;
  border-top: 3px groove grey;
  background-color: var(--container-color);
  text-align: center;
}

.footer-homepage-link {
  text-align: center;
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* Responsievness */
/* For screens 980px and smaller */
@media screen and (max-width: 980px) {
  .topic-image {
    height: 200px;
    width: 200px;
    transition: all 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  /* Top topics, container */
  .container-top-topics {
    gap: 5%;
  }
}

/* For screens 650px and smaller */
@media screen and (max-width: 650px) {
  /* header container */
  .container-header {
    flex-direction: column;
  }

  /* title */
  .title {
    text-align: center;
    margin-bottom: 3%;
    padding-left: 0%;
  }

  /* Sign up and login buttons - container */
  .button-container {
    justify-content: center;
  }
  /* Top topics, container */
  .container-top-topics {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 5%;
  }
  /* Container Body */
  .containers-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  /* Search container, search button and input field */
  .search-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* Input field - search */
  .input-field {
    margin-right: 0%;
  }
}
