/* Root for background color */
:root {
  --container-color: antiquewhite;
  --font-color: #0c0c0c;
  --border-between-links: #5c5470;
  --hover-text-color: #1d24ca;
}

/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* header container */
.container-header {
  width: 100%;
  padding-top: 2rem;
  border-bottom: 5px groove grey;
  background-color: var(--container-color);
  display: inline-flex;
  justify-content: space-between;
}

/* title */
.title {
  text-decoration: none;
  text-align: left;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: var(--font-color);
  text-decoration: none;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Hub - jump animation */
.jump {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.title:hover .jump {
  animation: jumpAnimation 0.5s ease infinite;
}

@keyframes jumpAnimation {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/* Sign up and login buttons - container */
.button-container {
  display: flex;
  flex-wrap: wrap;
}

/* Sign up and login buttons */
.sign-up-button,
.login-button,
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background-color: #eb8b54;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 5px;
}

/* Sign up and login buttons - hover with mouse cursor */
.sign-up-button:active,
.login-button:active,
.search-button:active {
  border-bottom-width: 0;
  transform: translateY(2px);
}

/* Search container, search button and input field */
.search-container {
  display: flex;
  flex-wrap: wrap;
}

/* Input field - search */
.input-field {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  align-self: flex-end;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #000000 inset;
}

/* Welcome container */
.container-welcome {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Welcome container - text */
.text {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: var(--font-color);
}

/* Top topic - text */
.top-topic-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
  color: var(--font-color);
  margin-bottom: 3rem;
}

/* Top topics, container */
.container-top-topics {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  height: 25rem;
  gap: 2rem;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #eb8b54;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://bupp.at/sites/default/files/Civilization_VI_cover_art.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://assets-prd.ignimgs.com/2022/04/19/wow-dragonflight-button-1-1650398895381.jpg?width=300&crop=1%3A1%2Csmart&auto=webp")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://assetsio.gnwcdn.com/Freelancer_KeyArt_01-1024x576.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp")
        no-repeat 50% / cover;
    }

    /* Images inside */
    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: #eb8b54;
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #eb8b54;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/* Top topics, card */
.card {
  height: 100%;
  width: auto;
  margin-bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.topic-image {
  height: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Top topics, buttons */
.btn {
  background-color: var(--container-color);
  color: var(--font-color);
  border: 2px ridge var(--font-color);
  transition: all 0.2s ease;
}

/* Top topics, buttons */
.btn:hover {
  background-color: var(--container-color);
  color: var(--font-color);
  border: 1px ridge var(--font-color);
}

/* Container Body */
.containers-body {
  width: 100%;
}

/* Discussions container */
.container-discussions {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 0 1.5rem;
  background-color: var(--container-color);
  place-self: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Link Container */
.link-container {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-between-links);
}

.link-container:last-of-type {
  border-bottom: 0;
}

/* Main links */
.main-links {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0.5rem;
  transition: transform 0.2s;
}

.main-links:hover {
  color: var(--hover-text-color);
  transform: scale(1.1);
}

/* Topic Links Container */
.topic-links-container {
  padding: 2rem 0;
  display: flex;
  border-bottom: 1px solid var(--border-between-links);
}

.topic-links-container:last-of-type {
  border-bottom: 0;
}

/* Topics container - links */
.topics-links {
  text-decoration: none;
  padding: 0 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--font-color);
  transition: transform 0.2s;
}

.topics-links:hover {
  color: var(--hover-text-color);
  transform: scale(1.1);
}

/* Footer section */
.container-footer {
  margin-top: 20rem;
  border-top: 3px groove grey;
  background-color: var(--container-color);
  text-align: center;
}

.footer-homepage-link {
  text-align: center;
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* Responsievness */
/* For screens 660px and smaller */
@media screen and (max-width: 660px) {
  /* header container */
  .container-header {
    flex-direction: column;
  }

  /* title */
  .title {
    text-align: center;
    margin-bottom: 3%;
    padding-left: 0%;
  }

  /* Sign up and login buttons - container */
  .button-container {
    justify-content: center;
  }

  /* Top topics, container */
  .container-top-topics {
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 10rem;
  }

  /* Container Body */
  .containers-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  /* Search container, search button and input field */
  .search-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Input field - search */
  .input-field {
    margin-right: 0%;
  }
}
