/* Root for background color */
:root {
  --container-color: antiquewhite;
  --font-color: #0c0c0c;
  --border-between-links: #5c5470;
  --hover-text-color: #1d24ca;
  --btn-color: #eb8b54;
  --btn-border-color: #b46436;
  --btn-color: #eb8b54;
  --btn-border-color: #b46436;
}

/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* ********** HEADER STYLE ********** */

/* header container */
.container-header {
  width: 100%;
  padding-top: 2rem;
  border-bottom: 1px groove grey;
  background-color: var(--container-color);
  display: inline-flex;
  justify-content: space-between;
}

/* title */
.title {
  text-decoration: none;
  text-align: left;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: var(--font-color);
  text-decoration: none;
  margin-right: 0%;
  margin-left: 0%;
  padding: 0 0 0 1rem;
}

/* Hub - jump animation */
.jump {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.title:hover .jump {
  animation: jumpAnimation 0.5s ease infinite;
}

@keyframes jumpAnimation {


  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/* Base styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--font-color);
  display: none;
}

.header-nav-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}

nav ul li {
  margin-right: 0%;
  display: inline-flex;
}

nav ul li:last-child {
  margin-right: 0%;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
}

/* Hamburger menu icon */
.menu-toggle {
  display: none;
  /* Hidden by default */
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  transition: all 0.1s ease;
}

/* Hamburger menu icon - hover */
.menu-toggle:hover {
  color: grey;
}

.menu-toggle.active {
  justify-content: right;
}

/* Content of menu-toggle is displayed */
.menu-toggle.active+.header-nav-link {
  .menu-toggle.active+.header-nav-link {
    display: block;
  }

  /* Sign up and login buttons when menu-toggle is active */
  .menu-toggle.active+.header-nav-link .sign-up-button,
  .menu-toggle.active+.header-nav-link .login-button,
  .menu-toggle.active+.header-nav-link .search-button {

    .menu-toggle.active+.header-nav-link .sign-up-button,
    .menu-toggle.active+.header-nav-link .login-button,
    .menu-toggle.active+.header-nav-link .search-button {
      font-size: 14px;
      width: 4rem;
      height: 2rem;
      margin-right: 0%;
    }

    /* Sign up and login buttons - container */
    .button-container {
      display: flex;
      flex-wrap: wrap;
    }

    /* Sign up and login buttons */
    .sign-up-button,
    .login-button,
    .search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      border-radius: 20px;
      width: 5rem;
      height: 2rem;
      font-weight: bold;
      border-bottom: 5px solid var(--btn-border-color);
      border-bottom: 5px solid var(--btn-border-color);
      transition: 0.2s;
      background-color: var(--btn-color);
      background-color: var(--btn-color);
      align-self: flex-end;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    /* Sign up and login buttons - hover with mouse cursor */
    .sign-up-button:active,
    .login-button:active,
    .search-button:active {
      border-bottom-width: 0;
      transform: translateY(2px);
    }

    /* Search container, search button and input field */
    .search-container {
      display: flex;
      flex-wrap: wrap;
    }

    /* Input field - search */
    .input-field {
      height: 2rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      padding-left: 0.5rem;
      align-self: flex-end;
      border-radius: 10px;
      box-shadow: 0px 0px 3px 1px #000000 inset;
    }

    /* ********** HERO STYLE ********** */

    /* Welcome container */
    .container-welcome {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    /* Welcome container - text */
    .text {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      font-family: sans-serif;
      color: var(--font-color);
    }

    /* Top topic - text */
    .top-topic-text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: sans-serif;
      color: var(--font-color);
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    /* Top topics, container */
    .container-top-topics {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      height: 25rem;
      gap: 2rem;

      >div {
        >div {
          flex: 0 0 120px;
          border-radius: 0.5rem;
          transition: 0.5s ease-in-out;
          cursor: pointer;
          box-shadow: 1px 5px 15px #eb8b54;
          position: relative;
          overflow: hidden;

          &:nth-of-type(1) {
            background: url("https://bupp.at/sites/default/files/Civilization_VI_cover_art.jpg") no-repeat 50% / cover;
            background: url("https://bupp.at/sites/default/files/Civilization_VI_cover_art.jpg") no-repeat 50% / cover;
          }

          &:nth-of-type(2) {
            background: url("https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/bltfdc0e2810eb08204/63223137e7bdcf0dd996c9b5/WoWTokenBrown.jpg?imwidth=1088&imdensity=1") no-repeat 50% / cover;
            background: url("https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/bltfdc0e2810eb08204/63223137e7bdcf0dd996c9b5/WoWTokenBrown.jpg?imwidth=1088&imdensity=1") no-repeat 50% / cover;
          }

          &:nth-of-type(3) {
            background: url("https://assetsio.gnwcdn.com/Freelancer_KeyArt_01-1024x576.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp") no-repeat 50% / cover;
            background: url("https://assetsio.gnwcdn.com/Freelancer_KeyArt_01-1024x576.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp") no-repeat 50% / cover;
          }

          /* Images inside */
          .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: var(--btn-color);
            background: linear-gradient(0deg,
                rgba(2, 2, 46, 0.6755077030812324) 0%,
                rgba(255, 255, 255, 0) 100%);
            background: var(--btn-color);
            background: linear-gradient(0deg,
                rgba(2, 2, 46, 0.6755077030812324) 0%,
                rgba(255, 255, 255, 0) 100%);
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;

            span {
              display: block;
              margin-top: 5px;
              font-size: 1.2rem;
            }
          }

          &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px var(--btn-color);
            box-shadow: 1px 3px 15px var(--btn-color);
            transform: translatey(-30px);
          }

          &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
          }
        }
      }

      /* Top topics, buttons */
      .btn {
        background-color: var(--container-color);
        color: var(--font-color);
        border: 2px ridge var(--font-color);
        transition: all 0.2s ease;
      }

      /* Top topics, buttons */
      .btn:hover {
        background-color: var(--container-color);
        color: var(--font-color);
        border: 1px ridge var(--font-color);
      }

      /* ********** MAIN SECTION STYLE ********** */

      /* Container - GENERAL DISCUSSIONS */
      .container-general-discussions {
        width: 90%;
        margin: auto;
        padding: 0 1.5rem;
        place-self: center;
        font-size: 2rem;
        font-weight: bold;
      }

      /* Topic Header and Button Container WoW */

      .topic-name-and-button {
        display: flex;
        justify-content: space-between;
        padding: 6.25rem 9.2rem 2rem 9.2rem;
      }

      .topic-header {
        font-size: 2.3rem;
      }

      .topic-btn {
        display: flex;
        align-items: center;
      }

      .new-topic-btn {
        text-decoration: none;
        color: #ffffff;
        background-color: var(--btn-color);
        padding: .5rem 1.8rem;
        border-radius: .3rem;
        font-size: 1.05rem;
        font-weight: 500;
      }

      .new-topic-btn:hover {
        background-color: var(--btn-border-color);
        color: #ffffff;
      }

      .new-topic-btn:active {
        background-color: var(--btn-color);
        color: #ffffff;
      }

      /* Topic Header and Button Container WoW */

      .topic-name-and-button {
        display: flex;
        justify-content: space-between;
        padding: 6.25rem 9.2rem 2rem 9.2rem;
      }

      .topic-header {
        font-size: 2.3rem;
      }

      .topic-btn {
        display: flex;
        align-items: center;
      }

      .new-topic-btn {
        text-decoration: none;
        color: #ffffff;
        background-color: var(--btn-color);
        padding: .5rem 1.8rem;
        border-radius: .3rem;
        font-size: 1.05rem;
        font-weight: 500;
      }

      .new-topic-btn:hover {
        background-color: var(--btn-border-color);
        color: #ffffff;
      }

      .new-topic-btn:active {
        background-color: var(--btn-color);
        color: #ffffff;
      }

      /* Container Body */
      .containers-body {
        width: 100%;
      }

      /* Discussions container */
      .container-discussions {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0 1.5rem;
        background-color: var(--container-color);
        place-self: center;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }

      /* Link Container */
      .link-container {
        display: flex;
        padding: 2rem 0;
        border-bottom: 1px solid var(--border-between-links);
      }

      .link-container:last-of-type {
        border-bottom: 0;
      }

      /* Main links */
      .main-links {
        text-decoration: none;
        color: var(--font-color);
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 0.5rem;
        transition: transform 0.2s;
      }

      .main-links:hover {
        color: var(--hover-text-color);
        transform: scale(1.1);
      }

      /* Topic Links Container */
      .topic-links-container {
        padding: 2rem 0;
        display: flex;
        border-bottom: 1px solid var(--border-between-links);
      }

      .topic-links-container:last-of-type {
        border-bottom: 0;
      }

      /* Topics container - links */
      .topics-links {
        text-decoration: none;
        padding: 0 0.3rem;
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--font-color);
        transition: transform 0.2s;
      }

      /* Topics container when hovered */
      .topics-links:hover {
        color: var(--hover-text-color);
        transform: scale(1.1);
      }

      /* ********** FOOTER STYLE ********** */

      footer {
        background-color: var(--container-color);
        color: var(--font-color);
        margin-top: 100px;
      }

      /* Styles for links inside footer */
      footer a {
        color: var(--font-color);
        font-size: 14px;
        transition-duration: 0.2s;
      }

      /* Styles for hover effect on footer links */
      footer a:hover {
        color: #fa944b;
        text-decoration: none;
      }

      /* Styles for copyright section */
      .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #ffffff;
      }

      /* Styles for middle section of the footer */
      .footer-middle {
        padding-top: 2em;
        color: var(--font-color);
      }

      /*SOCIAL ICONS*/

      /* Styles for social icons section */
      ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
      }

      /* Styles for individual social icon */
      ul.social-network li {
        display: inline;
        margin: 0 5px;
      }

      /* footer social icons */

      /* Styles for hover effect on Facebook and Linkedin icons */
      .social-network a.icoFacebook:hover {
        background-color: #fa944b;
      }

      /* Styles for icon color change on hover */
      .social-network a.icoLinkedin:hover {
        background-color: #fa944b;
      }

      /* Styles for general hover effect on social icons */
      .social-network a.icoFacebook:hover i,
      .social-network a.icoLinkedin:hover i {
        color: #fff;
      }

      /* Styles for icon alignment inside circular social icons */
      .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
      }

      /* social circular background */
      .social-network a {
        background-color: #f9f9f9;
      }

      /* ********** RESPONSIVENESS ********** */

      /* For screens 660px and smaller */
      @media screen and (max-width: 660px) {


        /* header container */
        .container-header {
          flex-direction: column;
        }

        /* title */
        .title {
          text-align: center;
          margin-bottom: 3%;
          padding-left: 0%;
        }

        /* Base styles */
        header {
          display: none;
        }

        /* Top topics, container */
        .container-top-topics {
          flex-direction: column;
          margin-top: 7rem;
          margin-bottom: 10rem;
        }

        /* Images inside */
        #content {
          height: 100%;
          width: 80%;
          align-self: center;
        }

        /* Container Body */
        .containers-body {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
        }

        /* Search container, search button and input field */
        .search-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        /* Input field - search */
        .input-field {
          margin-right: 0%;
        }

        /* div for names and follow links in footer section */
        .row {
          text-align: center;
        }
      }

      /* for screens 501px and bigger */
      @media screen and (min-width: 501px) {


        /* Base styles */
        header {
          display: block;
        }
      }

      /* For screens 500px and smaller */
      @media screen and (max-width: 500px) {


        /* Base styles */
        header {
          display: block;
          padding: 0 0.5rem;
        }

        /* Sign up and login buttons - container */
        .button-container {
          justify-content: center;
          display: none;
        }

        .header-nav-link {
          display: none;
        }

        nav {
          display: none;
        }

        nav ul li {
          margin-right: 0%;
          display: flex;
        }

        .menu-toggle {
          display: flex;
          justify-content: right;
        }

        /* Show nav links when menu is toggled */
        header.active nav {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: left;
        }
      }